.App {
  /* text-align: center; */
  margin: 10px;
  background-color:ivory;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

ul{
  list-style-type: none;
}

.show-balance{
  background-image: linear-gradient(rgb(235, 235, 72) 20%,rgb(28, 177, 28) 50%);
  color: red;
  float: left;
  width: 75%;
  border-radius: 6px;
  text-align: center;
  font-size: 25px;
}

.pay-comp{
  padding: 10px;
  width: 20%;
  float: left;
}
.list-transactions{
  width: 80%;
  margin: auto;
}

.transaction{
  width: 100%;
  line-height: 1.5;
  color: #000;
  box-sizing: inherit;
  position: relative;
  margin: 10px;
  padding: 15px;
  border-radius: 10px;
}

.balance{
  color: whitesmoke;
  font-style: italic;
}

.name{
  color: brown;
}

.credit{
  background-color: hsl(120, 85%, 41%);
  border-radius: 10px;
  box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
}

.debit{
  border-radius: 10px;
  background-color: hsl(0, 81%, 56%);
  box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
}

.logout-btn{
  position: relative;
  margin-left: 83%;
  padding: 10px;
  color:white;
  background-color: blue;
  border-radius: 5px;
}

.failure{
  color: red;
  font-weight: bold;
  text-shadow: red;
}